*{
    margin: 0;
}
html, body {
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1c2ea3;
    padding: 5px;
    box-shadow: 10px 10px 10px 10px gray;
    height: 30px;
}
.navbar{
    background-color: #1c2ea3;
    width: 30vw;
    height: 100vh;
    position: fixed;
    left: -30vw;
    top: 40px;
    z-index: 1;
}
.navbar.active{
    left: 0vw;
}
.links{
    padding: 3%;
    padding-top: 1rem;
}
li {
   list-style-type: none;
   font-size: 1em;
   color: white;
   padding: 5px;
}
h1 {
    font-size: 0.8em;
    margin-top: 0.5em;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0%;
}

.canoe {
    width: 101%;
    height: 20%;
    
    
}
.canoepic{
    text-align: center;
    color: white;
    padding-top: 1em;
    width: 101%;
    position: relative;
    height: 20%;
   
    
}
.come{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#ham{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0%;
}
#paddle{
   width: 40px;
   height: 40px;
   position: absolute;
   right: 0;
   top: 0;
   
}
h2{
    padding-top: 0.5em;
    text-align: center;
    font-size: 40px;
    padding-bottom: 0.5em;
}
.line{
    border-top: 4px solid black;
}
.title {
font-size: 2em;
color: limegreen;
text-decoration: underline;
padding: 10px;
}
.content{
    font-size: large;
    padding-left: 10px;
}

.sum{
    font-size: 2em;
    padding: 10px;
}
.summary{
    font-size: large;
    padding: 10px;
}
@media only screen and (min-width: 800px) {
.canoe{height: 300px;}
}